<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/spring.xml</param-value>
    </context-param>
    
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/properties/log4j.properties</param-value>
	</context-param>

	<!-- listener配置 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--安全框架 shiroFilter -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<!--<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.lng.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	-->
	
	
	<!--<filter> 
	    <filter-name>JSCSSIMGFilter</filter-name> 
	    <filter-class>com.lng.filter.JSCSSIMGFilter</filter-class> 
	</filter>
	<filter-mapping>
		<filter-name>JSCSSIMGFilter</filter-name>
		<url-pattern>*.js</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>					
	</filter-mapping>
	<filter-mapping>
		<filter-name>JSCSSIMGFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JSCSSIMGFilter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JSCSSIMGFilter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>	
 -->
    
	<!-- servlet配置 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- SpringUtil初始化：1、getBean 2、配置文件key -->
		<servlet>
		<servlet-name>springUtil</servlet-name>
		<servlet-class>com.lng.util.SpringUtil</servlet-class>
		<load-on-startup>2</load-on-startup>
		</servlet>
	
<!-- ckfinder 在线图片浏览 -->
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>
			com.ckfinder.connector.ConnectorServlet
		</servlet-class>
		<init-param>
			<param-name>XMLConfig</param-name>
			<param-value>
				/WEB-INF/classes/config/ckfinderConfig.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/back/js/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/js/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	


	<!-- 验证码 
		<servlet>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<servlet-class>com.guoxuan.servlet.VerifyCodeServlet</servlet-class>
		<init-param>
		<param-name>width</param-name>
		<param-value>100</param-value>
		</init-param>
		<init-param>
		<param-name>height</param-name>
		<param-value>32</param-value>
		</init-param>
		<init-param>
		<param-name>codeCount</param-name>
		<param-value>4</param-value>
		</init-param>
		</servlet>
		<servlet-mapping>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<url-pattern>/VerifyCodeServlet</url-pattern>
		</servlet-mapping>
	-->

	<session-config>
		<session-timeout>6000</session-timeout>
	</session-config>

	<!-- <error-page>
		<error-code>404</error-code>
		<location>/jsp/welcome.jsp</location>
		</error-page>
		<error-page>
		<error-code>500</error-code>
		<location>/error/404.jsp</location>
	</error-page> -->


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
